*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  font-family: "Noto Sans", "Arial", sans-serif;

  scroll-behavior: smooth;
}

body {
  position: relative;

  margin: 0;
  padding: 0;

  color: #ffffff;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  font: inherit;
  color: inherit;
  text-decoration: none;

  outline: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.input {
  display: block;
  width: 1000px;
  height: 150px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

  font-size: 25px;

  background-color: #ffffff;
  border: 3px solid #f89d3e;

  resize: vertical;
}

.input:focus {
  outline: none;
}

.keyboard {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  padding: 30px 20px;

  background-color: #f89d3e;
  border-radius: 5px;

  user-select: none;
}

.row {
  display: flex;
  justify-content: center;
}

.row:not(:last-child) {
  margin-bottom: 7px;
}

.button-wrap {
  position: relative;

  box-sizing: border-box;
  min-width: 65px;
  margin-right: 3px;
  margin-left: 3px;
}

.button {
  z-index: 1;

  display: block;
  min-width: 55px;
  height: 50px;
  margin-right: 3px;
  margin-left: 3px;
  padding-right: 15px;
  padding-left: 15px;

  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;

  background-color: #453f6d;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.button:hover {
  background-color: rgba(69, 63, 109, 0.7);
}

.button.active {
  background-color: rgba(69, 63, 109, 0.8);
  transform: translate(2px, 3px);
}

.button--big-width {
  width: 400px;
}

.button--capslock {
  position: relative;

  min-width: 120px;

  background-color: #b01c8a;
}

.button--capslock:hover {
  background-color: #453f6d;
}

.button--capslock::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 7px;

  display: block;
  width: 8px;
  height: 8px;

  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.7;
}

.button--capslock.active::before,
.button--capslock-active::before {
  background-color: #f81d2c;
  opacity: 1;
}

.button--capslock-active {
  background-color: #7d1463;
}

.button--capslock.active {
  background-color: #7d1463;
}

.button--text-hidden {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;
  margin-right: 0;
  margin-left: 0;

  font-size: 0;
}

.button__replace {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-size: 18px;
}

.button__arrow {
  box-sizing: border-box;
}

.button__arrow:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 14px;
  height: 14px;

  background-image: url("./img/previous.svg");
  background-size: 100%;
  transform: translate(-50%, -50%);
}

.button__arrow-down:after {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.button__arrow-up:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.button__arrow-right:after {
  transform: translate(-50%, -50%) rotate(180deg);
}

.about-switch {
  position: absolute;
  top: -30px;

  font-size: 18px;
  color: #453f6d;
}

.about-switch span {
  font-weight: bold;
}

.about-system {
  position: absolute;
  bottom: -30px;

  font-size: 15px;
  color: #453f6d;
}
